.login-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 30%;
    height: 35%;
    background-color: #f4bcbff1;
}
.login-form ul {
    background-color: antiquewhite;
}
.login-form > * {
    margin: 3px;
}
.login-form button {
    width: 100px;
}
.login-form input {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.login-form {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px rgb(122, 116, 116);
}
.login-form p {
    position: absolute;
    top: -2px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.login-from--show{
    display: block;
}

.login-form li {
    margin-left: auto;
    list-style: none;


}
.login-form img {
    width: 80px;
    height: 80px;
}