.login-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 400px;
    background-color:antiquewhite
}
.login-form > * {
    margin: 3px;
}
.login-form button {
    width: 100px
}
.login-form input {
    width: 200px;
    padding: 7px;
}
.login-form {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px rgb(122, 116, 116);
}
.login-form p {
    position: absolute;
    top: -2px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.login-from--show{
    display: block;
}
