.nav {
    list-style: none;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: #242526;
    border-bottom: 2px solid rgb(99, 96, 96);
}
.nav a {
    text-decoration: none;
    margin: 5px;
    padding: 0.9em;
    color: #c9cdd3;
}

.nav a:hover {
    background-color: #3A3B3C;
    text-decoration: none;
    color: #f9b2b5;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(85, 84, 84);
}
.nav h1 {
    display: inline;
    color: red;
    padding: 10px;
    align-self: flex-start;
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav--light {
    background-color: #e7ecf4;
    color: #3A3B3C;
}
.nav-left--light a {
    color: #3A3B3C;
}
.account img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.account {
    display: flex;
    margin: 20px;
    align-items: center;
}
.account h3 {
    margin-right: 5px;
}
.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-right a:hover {
    color: #f9b2b5;
    border: none;
    background-color: transparent;
    box-shadow: none;
}
.nav-right a{
    color: #E7E9ED;
    font-weight: bold;

}
.nav-right--light a{
    color: #191919;
    border: none;
    font-weight: bold;
    background-color: transparent;
    box-shadow: none;
}

.nav-right label {
    color: #E7E9ED;
}
.nav-right--light label {
    color: #191919;
}
.nav-right label span:nth-child(1) {
    color: #f6858a;
} 



