.preview-container {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding: auto;
}
.article__profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}
.article-preview {
    font-size: 1.5em;
    width: 40%;
    margin-left: 10%;
    height: max-content;
    background-color: #242526;
    border-radius: 15px;
}
.article-preview__body {
    margin-left: 7px;
}
.article-preview p {
    color: rgb(211, 217, 223);
    font-size: 20px;
}
.article-preview h4 {
    color: rgb(180, 187, 187);
    margin-left: 5px;
}
.article-preview h5 {
    color: rgb(184, 65, 65);
    font-size: 25px;
    margin-top: 8px;
}

.article-preview img{
    width: 60px;
    align-self:flex-end;
    border-radius: 50%;
}
.article-preview i {
    float: left;
    font-size: 1rem;
    margin-left: 5px;
    color: rgb(207, 237, 232);
}
.articles {
    background-color: bisque;
    margin-left: 5%;
    width: 300px;
    height: 500px
}
.article-preview > * {
    margin-left: 10px;
}

@media only screen and (max-width: 900px) {
    .article-preview {
        width: 75%;
    }
}
